modules = ["nodejs-20", "python-3.11"]

run = "bash scripts/start.sh"
entrypoint = "scripts/start.sh"

[nix]
channel = "stable-23_11"

[env]
NODE_ENV = "production"

[deployment]
run = ["sh", "-c", "bash scripts/start.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
